<div id="technical-specifications" class="custom-smaller container">
    <h1>Technical specifications</h1>

    <table>
        <tbody>
            <tr>
                <td></td>
            </tr>
        </tbody>
    </table>
    </table>
    <div class="item">
    <b>Dimensions</b>
    <span>80x60 cm </span>
</div>
<div class="item">
    <b>Thickness including the instalation parts</b>
    <span> 4,4 cm </span>
</div>
<div class="item">
    <b> Glass panel thickness </b>
    <span> 5 mm </span>
</div>

<div class="item">
    <b> Weight </b>
    <span> 9,8 kg  </span>
</div>

<div class="item">
    <b>Power consumption</b>
    <span> 3 W LED/50W Demister/2W Display </span>
</div>

<div class="item">
    <b> Voltage </b>
    <span>110-240V </span>
</div>

<div class="item">
    <b> Protection rating </b>
    <span>IP54</span>
</div>

<div class="item">
    <b> Certificates </b>
    <span> CE, RoHS, FCC </span>
</div>

<div class="item">
    <b> Warranty </b>
    <span>2 years/4 years if purchased </span>
</div>
</div>