<div class="container">
    <h2 class="title center">Features</h2>
    <div class="container custom-smaller custom-features-icons">
        <a href="https://thespeculum.com/products/speculum-smart-mirror#section2" class="icon">
            {{ 'fog.png' | asset_img_url: '150x' | img_tag: 'Fog icon', 'lazyload' }}
            <h3>Antifog</h3>
        </a>
        <a href="https://thespeculum.com/products/speculum-smart-mirror#section3" class="icon">
            {{ 'light.png' | asset_img_url: '150x' | img_tag: 'Led light icon', 'lazyload' }}
            <h3>Led light</h3>
        </a>
        <a href="https://thespeculum.com/products/speculum-smart-mirror#section4" class="icon">
            {{ 'touch.png' | asset_img_url: '150x' | img_tag: 'Touch icon', 'lazyload' }}
            <h3>Touch control</h3>
        </a>
        <a href="https://thespeculum.com/products/speculum-smart-mirror#section1" class="icon">
            {{ 'display.png' | asset_img_url: '150x' | img_tag: 'Invisible display icon', 'lazyload' }}
            <h3>Invisible display</h3>
        </a>
    </div>
</div>