<div class="container">
   <div class="sixteen columns center product-links">
      <h2>Questions?</h2>
      <p>See following links:</p>
      <a class="action_button first_button highlight-true" href="/pages/faq">
         Frequently asked
      </a>
      <a
         class="action_button first_button highlight-false"
         href="/pages/shipping-policy"
      >
         Shipping
      </a>
      <a
         class="action_button first_button highlight-false"
         href="/pages/contact"
      >
         Contact us
      </a>
   </div>
</div>
