<div class="homepage_content clearfix bg-171717">
    <div class="container">
      <div class="sixteen columns">
        <div class="section clearfix" id="technical-specifications">
          <h1>Technical specifications</h1>
          <div class="desktop">
            <table>
                <tbody>
                   <tr>
                      <td>Dimensions</td>
                      <td>80x60 cm</td>
                      <td>60x60 cm</td>
                      <td>100x60 cm</td>
                      <td>120x60 cm</td>
                   </tr>
                   <tr>
                      <td>
                         <div>Thickness including the installation parts</div>
                      </td>
                      <td>4,4 cm</td>
                      <td>4,4 cm</td>
                      <td>4,4 cm</td>
                      <td>4,4 cm</td>
                   </tr>
                   <tr>
                      <td>
                         <div>Mirror thickness</div>
                      </td>
                      <td>5 mm</td>
                      <td>5 mm</td>
                      <td>5 mm</td>
                      <td>5 mm</td>
                   </tr>
                   <tr>
                      <td>Weight</td>
                      <td>9,8 kg</td>
                      <td>7.85 kg</td>
                      <td>11.95 kg</td>
                      <td>14.85 kg</td>
                   </tr>
                   <tr>
                      <td>
                         <div>Heating system</div>
                      </td>
                      <td>50 W</td>
                      <td>200 W</td>
                      <td>350 W</td>
                      <td>500 W</td>
                   </tr>
                   <tr>
                      <td>
                         <div>LED lighting input power</div>
                      </td>
                      <td>3 W</td>
                      <td>10 W</td>
                      <td>13 W</td>
                      <td>15 W</td>
                   </tr>
                   <tr>
                      <td>
                         <div>Display input power</div>
                      </td>
                      <td>2 W</td>
                      <td>2 W</td>
                      <td>2 W</td>
                      <td>2 W</td>
                   </tr>
                   <tr>
                      <td>Voltage</td>
                      <td>110-240 V</td>
                      <td>110-240 V</td>
                      <td>110-240 V</td>
                      <td>110-240 V</td>
                   </tr>
                   <tr>
                      <td>
                         <div>Protection rating</div>
                      </td>
                      <td>IP54</td>
                      <td>IP55</td>
                      <td>IP56</td>
                      <td>IP57</td>
                   </tr>
                   <tr>
                      <td>Certificates</td>
                      <td>
                         <div>CE, RoHS, FCC</div>
                      </td>
                      <td>
                         <div>CE, RoHS, FCC</div>
                      </td>
                      <td>
                         <div>CE, RoHS, FCC</div>
                      </td>
                      <td>
                         <div>CE, RoHS, FCC</div>
                      </td>
                   </tr>
                   <tr>
                      <td>Warranty</td>
                      <td>2 years</td>
                      <td>2 years</td>
                      <td>2 years</td>
                      <td>2 years</td>
                   </tr>
                </tbody>
             </table>
          </div>
          <div class="mobile"></div>
        </div>
      </div>
    </div>
  </div>